
location ~* ^/api/core-property-listings-api/(.*)$ {
    add_header Access-Control-Allow-Origin "*" always;

    # for OPTIONS return these headers and HTTP 200 status
    if ($request_method = OPTIONS ) {
        add_header Allow "POST, OPTIONS" always;
        add_header Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept" always;
        return 200;
    }

    proxy_pass http://$LISTINGS_API_BACKEND$request_uri;
}
